page-login {
    ion-content{
        background-color:#252839 !important;
    }
    
    .bg-img{
        background-repeat: no-repeat;
        background-position: center;
        margin-top: -80px;
        width: 90%;
    }

    h1{
        font-size: 3.0rem;
        color: #f4f4f4;
    }
    h4{
        // font-size: 3.6rem;
        color: #f4f4f4;
        // line-height: 0.5;
    }
}